@import url(../vendor/normalize.css);

@import url(../fonts/fonts.css);

.body {
  display: flex;

}

.page {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.header {
  width: 1200px;
  height: 71px;
  background: #001489;
  display: flex;
  flex-direction: row;

}

.header__logo {
  width: 125px;
  height: 41px;
  margin-left: 80px;
  margin-top: 15px;
}

.header__links {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-left: 193px;
  margin-top: 25px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  list-style-type: none;


}

.header__link {
  margin: 0;
  margin-right: 77px;
  color: white;
  text-decoration: none;
}

.registration {
  display: flex;
  flex-direction: column;
}

.registration__title {
  margin: 0;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 800;
  font-size: 96px;
  line-height: 94%;
  color: #001489;
  width: 482px;
  margin-top: 99px;
  margin-left: 73px;
}

.registration__subtitle {
  margin: 0;
  margin-left: 79px;
  width: 277px;
  margin-top: 23px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 83.5%;
  display: flex;
  align-items: center;
  color: #001489;
}

.registration__button {
  width: 192px;
  margin: 0;
  margin-top: 42px;
  margin-left: 80px;
  background: #E9081D;
  border-radius: 27.5px;
  color: white;
  height: 51px;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 83.5%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.registration__button:hover {
  cursor: pointer;
}

.photo-main-page {
  position: absolute;
  top: 20px;
  right: -25px;
  z-index: -10;
  width: 764px;
  height: 686px;
}

.data {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 78px;
}

.data__time {
  display: flex;
  flex-direction: row;
}

.data__time-icon {
  width: 19px;
  height: 19px;
}

.data__time-text {
  margin: 0;
  margin-left: 7px;
}

.data__place {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.data__place-icon {
  width: 19px;
  height: 19px;
}

.data__place-text {
  margin: 0;
  margin-left: 7px;
}

.circle1 {
  position: absolute;
  width: 115px;
  height: 115px;
  right: -14px;
  top: 14px;
  background: #FFC700;
  border-radius: 50%;
  z-index: -5;
}

.circle2 {
  position: absolute;
  position: absolute;
  width: 68px;
  height: 68px;
  right: -25px;
  top: 97px;
  background: #E9081D;
  border-radius: 50%;
  z-index: -6;
}

.circle3 {
  position: absolute;
  width: 83px;
  height: 83px;
  left: 649px;
  top: 450px;
  background: #E9081D;
  border-radius: 50%;

}

.circle4 {
  position: absolute;
  width: 57px;
  height: 57px;
  left: 691px;
  top: 495px;
  background: #FFC700;
  border-radius: 50%;

}

.footer {
  min-height: 188px;
  background: #001489;
  margin-top: 63px;
}

.footer__nav {
  display: flex;
  flex-direction: row;
}

.footer-links {
  display: flex;
  flex-direction: row;
}

.footer__links-logo {
  list-style-type: none;
  margin: 0;
  margin-top: 45px;
  padding: 0;
  margin-left: 79px;
}

.footer__link1:last-child {
  margin-top: 10px;
  display: flex;
  width: 140px;
}

.footer__links2,
.footer__links3,
.footer__links4,
.footer__links5,
.footer__link-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__link1 {
  color: white;
  text-decoration: none;
}

.footer__link2 {
  color: white;
  text-decoration: none;
  margin: 0;
  margin-bottom: 16px;
  text-decoration: none;
}

.footer__link-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 46px;
  margin-top: 54px;
}

.footer-links {
  margin-left: 179px;
  margin-top: 50px;
  margin-right: 111px;
}
.footer__li{
  margin-bottom: 16px;
}
.footer__links2{
  margin-right: 58px;
}
.footer__links3{
  margin-right: 58px;
}
.footer__links4{
  margin-right: 58px;
}
.footer__link3{

}
.footer-icon{
  width: 18px;
  height: 18px;
}
.footer-icon:nth-child(2n+1){
  margin-right: 10px;
}